@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Monocraft";
  src: url("/public/fonts/Monocraft.ttf") format("truetype");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Monocraft", monospace;
}
